:root{
    --white-light:rgba(255,255,255,0.5);
    --alice-blue: #fbfcfc;
    --carribean-green: #31ae8a;
    --light-orange:rgb(255, 247, 224);
    --pink: #fcd4fc;
    --blue: #4eabc0;
}

*{                   
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
}

/* utility stylings */
.products img{
    width:100%;
    display: block;
}
.container{
    width: 88vw;
    margin:0 auto;
}

.lg-title,
.md-title,
.sm-title{
    padding: 0.6rem 0;
    text-transform: capitalize;
}

.md-title,
.sm-title{
    font-family: 'Roboto';
}

.lg-title{
    font-family: 'Emilys Candy', 'Roboto';
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity:0.9;
    color: var(--light-pink);
}

.md-title{
    font-size:2rem;
    font-family: "Roboto", sans-serif;
}

.sm-title{
    font-weight: 300;
    font-size:1rem;
    text-transform: uppercase;
}

.text-light{
    font-size:1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
    color: var(--orion-blue);
}

/*product section */
.products{
    background: var(--dark-purple);
    padding: 3.2rem 0;
}

.products .text-light{
    text-align: center;
    width:70%;
    margin:0.9rem auto;
}

.product{
    margin:2rem;
    position: relative;
    min-width: 344px;
    min-height: 515px;

}

.product-content{
    background: var(--light-orange);
    padding:3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
}

.product-img{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height: 200px;
    margin:0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}

.product-btns{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;  
    transition: opacity 0.6s ease;
}

.btn-cart, .btn-buy{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.4s ease;
}

.btn-cart{
    background: black;
    color: white;
}
.btn-cart:hover{
    background: var(--carribean-green);
}

.btn-buy{
    background: white;
}
.btn-buy:hover{
    background: var(--carribean-green);
    color:white;
}
.product-info{
    background: white;
    padding:2rem;
}

.product-info-top{
    display: flex;
    justify-content: space-between;
}

.rating span{
    color: var(--carribean-green);
}

.product-name{
    color:black;
    display:block;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.product-price, .product-price-nosale{
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
    font-size: 17px;
}

.product-price-nosale{
    padding-bottom: 20px;
}

.product-price:first-of-type{
    text-decoration: line-through;
    color: var(--blue);
}

.product-img img{
    transition: transform 0.6s ease;
}
.product:hover .product-img img{
    transform:scale(1.1);
}
.product:hover .product-img{
    background:var(--orion-blue);
}

.product:hover .product-btns{
    opacity:1;
}

.off-info{
    background: var(--hollow-purple);
    color: white;
    display: inline-block;
    padding:0.5rem;
    position:absolute;
    top:0;
    left:0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index:1;
    letter-spacing: 3px;
    cursor:pointer;
}

/*image adjustments */
#img1{
    padding-top: 35px;
}

#img2{
    border-radius: 30%;
    width: 185px;
    height: 155px;
}

#img3{
    height: 210px;
    width:auto;
    padding-left: 20px;
}

#img4, #img6{
    width:170px;
    padding-top:30px;
}

#img4{
    padding-left: 25px;
}

#img5{
    padding-top:20px;
    height:210px;
    padding-left: 25px;
    object-fit: cover;
    border-radius: 10%;
}

#img6{
    padding-left: 34px;
}

#img7{
    height:220px;
    width:auto;
    padding-left: 23px;
}
/*shopping cart button styling */
#shopping-cart-btn{
    position: absolute;
    top:2.9rem;
    left:86.5%;
    background: transparent;
    border: 0;
    padding: 8px 10px;
    color: var(--sweet-blue);
    transition: all ease 0.6s;
    border-radius: 10%;
}

#shopping-cart-btn span{
    font-size:2.3rem;
}

#shopping-cart-btn:hover{
    cursor: pointer;
    background: var(--sweet-blue);
    border-radius: 50%;
    color:var(--dark-purple);
}
/* CART */
.shopping-bag h3{
    font-size: 22px;
}

.shopping-bag{
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-bag span {
    font-size: 35px;
    margin-right: 5px;
}

.shopping-bag .total-items-in-cart {
    margin-left: 20px;
    padding: 7px;
    background-color: var(--yellow-forcart);
    border-radius: 5px;
}

.showCart{
    left: 74% !important;
}

.cart{
    height:100%;
    width:25%;
    position:absolute;
    top:20%;
    left:120%;
    transition: all ease 0.5s;
    background: #31ae8a;
    z-index: 100;
    border-radius: 5%;
}

/* cart header */
.cart-row, .cart-item{
    display:flex;
    justify-content: space-around;
    padding: 10px 0;
}

/*cart items */
.cart-items{
    max-height: calc(100vh-247px);
    overflow-y: auto;
    overflow-x:hidden;
}

.cart-item div{
    display:flex;
    align-items: center;
    justify-content: center;
}

/* item info */
.cart-item .item-info{
    flex:1;
    background-color: rgba(255,255,255,0.6);
    border-radius: 0 10px 10px 0;
    padding:10px;
}

.cart-item .item-info:hover {
    background-color: rgba(255, 0, 0, 0.55);
    cursor: pointer;
}

.cart-item .item-info img {
    width: 75px;
}

/* unit price */
.cart-item .unit-price{
    flex:1;
    font-size:1.2rem;
}

/* units */
.cart-items .units{
    flex:1;
}

.cart-item .units .number{
    margin:0 10px;
    font-size: 1.2rem;
}

.cart-item .units .btn{
    width:20px;
    height:20px;
    background-color:var(--yellow-forcart);
    border-radius:50%;
    font-weight: bold;
    cursor: pointer;
}

/* cart footer */
.cart-footer {
    width: 100%;
    background-color: rgb(255, 21, 21);
    position: absolute;
    bottom: 0;
    left: 0;
}

.cart-footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-size: 1.3rem;
}

.cart-footer .subtotal {
    background-color: white;
}

.cart-footer .checkout {
    background-color: var(--yellow-forcart);  
    cursor: pointer;
}

#buyItems h4{
    text-align: center;
}

/* media queries */
@media screen and (min-width:992px){
    .product-items{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:1200px){
    .product-items{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left:1rem;
    }
    .products.text-light{
        width:50%;
    }
}

@media screen and (min-width:1336px){
    .product-items{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
    }
}