.product-img img{
    width:400px;
}

:root{
    --white-light:rgba(255,255,255,0.5);
    --alice-blue: #f8f9fa;
    --carribean-green: #40c9a2;
    --gray: #ededed;
}

*{                   /*  *beware  */
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", sans-serif;
}