:root{
    --white-light:rgba(255,255,255,0.5);
    --alice-blue: #fbfcfc;
    --carribean-green: #29a07e;
    --light-orange:rgb(255, 247, 224);
    --pink: #fcd4fc;
    --blue: #4eabc0;
}

*{                   
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
}

/* 3d image animation */
.wrapper {
	margin: auto;
    background-image: url("../assets/candyBanner.jpg");
    background-position: center;
    background-size: cover;
}

.stage {	
	height: 270px;
	position: relative;
    margin-left:32rem;
    width:660px;
    cursor:grab;
}

.box {
	border: 5px solid #340054;
	border-radius: 10px;
	position: absolute;
	width: 185px;
	height: 185px;	
	display: inline-block;
	margin: 25px 20px 20px 235px;
	overflow: hidden;
}

.box > img {
	width: 185px;
	height: auto;
}

.general-info{
    color:white;
    text-align: center;
    text-transform: capitalize;
    background-color: rgb(0, 2, 98);
    font-family: serif;
    line-height: 1.5;
    text-shadow: 1px 1px #e6dede;
    letter-spacing: 8px;
}

.general-info > h2{
    font-size: 1.7rem;
}

/* utility stylings */
.products img{
    width:100%;
    display: block;
}
.container{
    width: 88vw;
    margin:0 auto;
}

.lg-title,
.md-title,
.sm-title{
    padding: 0.6rem 0;
    text-transform: capitalize;
}

.md-title,
.sm-title{
    font-family: 'Roboto';
}

.lg-title{
    font-family: 'Emilys Candy', 'Roboto';
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity:0.9;
    color: var(--light-pink);
}

.md-title{
    font-size:2rem;
    font-family: "Roboto", sans-serif;
}

.sm-title{
    font-weight: 300;
    font-size:1rem;
    text-transform: uppercase;
}

.text-light{
    font-size:1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
    color: var(--orion-blue);
}

/*product section */
.products{
    background: var(--dark-purple);
    padding: 3.2rem 0;
}

.products .text-light{
    text-align: center;
    width:70%;
    margin:0.9rem auto;
}

.product{
    margin:2rem;
    position: relative;
    min-width: 344px;
    min-height: 515px;
}

.product-content{
    background: var(--light-orange);
    padding:3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
}

.product-img{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height: 200px;
    margin:0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}

.product-btns{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;  
    transition: opacity 0.6s ease;
}

.btn-cart, .btn-desc{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.4s ease;
}

.btn-cart{
    background: black;
    color: white;
}

.btn-cart:hover{
    background: var(--carribean-green);
}

.btn-desc{
    background: white;
}
.btn-desc:hover{
    background: var(--carribean-green);
    color:white;
}
.product-info{
    background: white;
    padding:2rem;
}

.product-info-top{
    display: flex;
    justify-content: space-between;
}

.rating span{
    color: var(--carribean-green);
}

.product-name{
    color:black;
    display:block;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.priceValue{
    opacity:0;
    position:absolute;
}

.product-price, .product-price-nosale{
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
    font-size: 17px;
}

.product-price-nosale{
    padding-bottom: 20px;
}

.product-price:first-of-type{
    text-decoration: line-through;
    color: var(--blue);
}

.product-img img{
    transition: transform 0.6s ease;
}
.product:hover .product-img img{
    transform:scale(1.1);
}
.product:hover .product-img{
    background:var(--orion-blue);
}

.product:hover .product-btns{
    opacity:1;
}

.off-info{
    background: var(--hollow-purple);
    color: white;
    display: inline-block;
    padding:0.5rem;
    position:absolute;
    top:0;
    left:0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index:1;
    letter-spacing: 3px;
    cursor:pointer;
}

/*image adjustments */
#img1{
    padding-top: 35px;
}

#img2{
    border-radius: 30%;
    width: 185px;
    height: 155px;
}

#img3{
    height: 210px;
    width:auto;
    padding-left: 20px;
}

#img4, #img6{
    width:170px;
    padding-top:30px;
}

#img4{
    padding-left: 25px;
}

#img5{
    padding-top:20px;
    height:210px;
    padding-left: 25px;
    object-fit: cover;
    border-radius: 10%;
}

#img6{
    padding-left: 34px;
}

#img7{
    height:220px;
    width:auto;
    padding-left: 23px;
}

/* product description */
.product-desc, .product-stock{
    visibility: hidden;
    position: absolute;
}

.product-description{
    width:60rem;
    height:40rem;
    position:absolute;
    background:rgb(222, 222, 255);
    display:flex;
    flex-direction: row;
    top:58rem;
    left:23rem;
    border-radius:2rem;
    border: 5px rgb(148, 148, 205) solid;
}

.product-description .product-description-image{
    &::before{
        content:'';
        height:100%;
        width:5px;
        background-color: #26678a;
        left:28rem;
        position:absolute;
    }
}

.product-description .product-description-image > img{
    width: 28rem; 
    height: 100%;
    object-fit: cover; 
}

.product-description .product-description-summary{
    padding:30px;
}

.product-description .product-description-summary .product-description-name{
    font-size:33px;
    line-height:1.6;
    margin-bottom:2rem;
    font-family: 'Courier New', Courier, monospace;
}

.product-description .product-description-summary .summary h3{
    font-size: 21px;
    line-height: 1.3;
}

.product-description .product-description-summary .description-price{
    margin-top:5rem;
    font-size: 20px;
    font-weight:700;
    font-family: "Roboto";
    text-align: right;
}

.product-description .product-description-summary .description-stock{
    position:absolute;
    top:36rem;
}

.product-description .product-description-summary .description-stock h2{
    font-size: 18px;
}

.product-description .product-description-summary .product-description-back span{
    font-size: 56px;
    position:absolute;
    border:none;
    top:35rem;
    left:54rem;
    transition: all ease 0.6s;
    cursor:pointer;
    color:#410a6e;
}

.product-description .product-description-summary .product-description-back span:hover{
    transform: translateX(-20px) scale(1.1);
    color:#0d888a;
}

.hidden-description {
    display: none;
} /*not working */

/*shopping cart button styling */
#shopping-cart-btn{
    position: absolute;
    top:2.9rem;
    left:86.5%;
    background: transparent;
    border: 0;
    padding: 8px 10px;
    color: var(--sweet-blue);
    transition: all ease 0.6s;
    border-radius: 10%;
}

#shopping-cart-btn span{
    font-size:2.3rem;
}

#shopping-cart-btn:hover{
    cursor: pointer;
    background: var(--sweet-blue);
    border-radius: 50%;
    color:var(--dark-purple);
}
/* CART */
.closeCart{
    position: absolute;
    left:10px;
    top:10px;
    background: none;
    border: none;
}

.closeCart span{
    color:rgb(255, 255, 255);
}

.closeCart:hover{
    cursor:pointer;
}

.shopping-bag h3{
    font-size: 22px;
}

.shopping-bag{
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-bag span {
    font-size: 35px;
    margin-right: 5px;
}

.shopping-bag .total-items-in-cart {
    margin-left: 20px;
    padding: 7px;
    background-color: var(--yellow-forcart);
    border-radius: 5px;
}

.showCart{
    left: 74% !important;
}

.cart{
    height:70%;
    width:25%;
    position:absolute;
    top:20%;
    left:120%;
    transition: all ease 0.5s;
    background: var(--sweet-blue);
    z-index: 100;
    border-radius: 20px 12px 20px 20px;
    overflow-y:scroll;
    overflow-x: hidden;
    max-height: fit-content;
    border-bottom: solid 1.1rem var(--sweet-blue);
}

/* cart header */
.cart-header{
    display:flex;
    justify-content: space-around;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto";
}

/* add to cart styles */
#buyItems h4{
    margin-top:20rem;
    text-align: center;
    margin-bottom: 20rem;
}

.buyItem{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 16px;
    font-weight: 900;
    background:var(--pale-pink);
    border: solid 0.5rem var(--sweet-blue);
    border-radius: 1.5rem;
    min-height: 200px;
    margin-inline: 0.5rem;
}

.buyItem img{
    width:7rem;
    border-radius:30%;
    margin-top:1rem;
}

.buyItem-quantity, .buyItem-item{
    text-align: center;
}

.buyItem-price h6{
    font-size: 14px;
}

.buyItem-price{
    display:grid;
    align-items: center;
    text-align: center;
}

.buyItem-quantity .quantity-button-container{
    display:flex;
    height:200px;
    font-size:1rem;
    padding:10px;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

.buyItem-quantity .quantity-button-container button{
    margin-inline: 10px;
    font-size:1.2rem;
    width:22px;
    height:22px;
    background-color:var(--yellow-forcart);
    border-radius:50%;
    cursor: pointer;
    border: 1px solid black;
}

/* cart footer */
.cart-footer {
    width: 92%;
    position: relative;
    top:3rem;
    margin-left:1.2rem;
    bottom: 0;
    left: 0;
}

.cart-footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-size: 1.3rem;
}

.cart-footer .subtotal {
    background-color: white;
    font-size:20px;
    font-weight:700;
}

.cart-footer .checkout{
    background-color: var(--yellow-forcart);
}

#payment-link{
    width:100%;
    cursor: pointer;
    font-size:23px;
    font-weight: 700;
    color: var(--hollow-purple);
    text-decoration: none;
    border:none;
    background: none;
    text-transform: capitalize;
}

#payment-link:hover{
    font-style:italic;
    color:var(--dark-purple);
}

/*payment container (div) */
.payment-container{
    position: absolute;
    top:25%;
    z-index: 10;
    text-transform: capitalize;
    transition: all .2s linear;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:25px; 
    min-height: 100vh;
    width:100%;
    background: linear-gradient(90deg, #2ecc71, #6d9cdd 60%);
    padding-bottom: 70px;
    display:none;
}

.payment-container .closePaymentContainer{
    position: absolute;
    left:15px;
    top:15px;
    background: none;
    border: none;
    color:rgb(0, 0, 0);
    transition: all ease 1s;
}

.payment-container .closePaymentContainer span{
    font-size: 50px;
}

.payment-container .closePaymentContainer:hover{
    cursor: pointer;
    transform: rotate(270deg);
}

.payment-container form{
    transform: translate(42%, 22%);
    padding:20px;
    width:900px;
    background:white;
}

.payment-container form .payment-row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.payment-container form .payment-row .payment-col{
    flex:1 1  250px;
}

.payment-container form .payment-row .payment-col span{
    font-size:15px;
    font-weight: 500;
}

.payment-container form .payment-row .payment-col .payment-title{
    font-size: 20px;
    color:#333;
    padding-bottom:5px;
    text-transform:uppercase;
}

.payment-container form .payment-row .payment-col .inputBox{
    margin: 15px 0;
}

.payment-container form .payment-row .payment-col .inputBox span{
    margin-bottom: 10px;
    display: block;
}

.payment-container form .payment-row .payment-col .inputBox input{
    width:100%;
    border:1px solid rgb(222, 221, 221);
    padding:10px 15px;
    font-size:15px;
    text-transform: none;
}

.payment-container form .payment-row .payment-col .inputBox input:focus{
    border:1px solid black;
}

.payment-container form .payment-row .payment-col .flex{
    display:flex;
    gap:15px;
}

.payment-container form .payment-row .payment-col .flex .inputBox{
    margin-top:5px;
}

.payment-options{
    height:32px;
    margin-top:5px;
    margin-inline: 2px;
    filter: drop-shadow(0 0 1px #000);
    cursor:pointer;
}

.payment-container form .submit-btn{
    width:100%;
    padding:12px;
    font-size: 17px;
    background: #25ae60;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
    border: none;
    text-transform: capitalize;
}

.payment-container form .submit-btn:hover{
    background: #419164;
}

/*styles for scrollbar in cart */
div::-webkit-scrollbar{
    width:1rem;
}

div::-webkit-scrollbar-track{
    background: var(--orion-blue);
    border-radius: 1rem;
}

div::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, rgb(250, 172, 232));
    border-radius: 200vw;
}

div::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(rgb(255, 240, 242),rgb(183, 144, 255));
}


/* media queries */
@media screen and (min-width:992px){
    .product-items{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:1200px){
    .product-items{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left:1rem;
    }
    .products.text-light{
        width:50%;
    }
}

@media screen and (min-width:1336px){
    .product-items{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
    }
}