:root{
    --dark-purple: rgb(34 30 38);
    --light-pink: #f5d0fd;
    --hollow-purple:#7d448c;
    --sweet-blue: rgb(64, 174, 188);
    --orion-blue:rgb(206, 248, 249);
    --cornfield-yellow:rgb(208, 206, 142);
    --zesty-orange:#e8d5c5;
}