* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color: rgb(34 30 38);
}

/* nav bar*/
#logo{
    height:90px;
    border-radius: 10%;
}

li, a, button{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #d0f2f0;
    text-decoration: none;
}

.horibar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.nav__links{
    list-style: none;
    transform: translateY(-1000%);
    transition: transform 0.2s;
    z-index: 99;
}

.showMenu{
    transform: translateY(0)
}

.nav__links li{
    display: inline-block;
    padding: 0px 25px;
}

.nav__links li a{
    transition: color 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #e7a2f7;
    font-weight: 200;
    font-style: italic;
}

#contact{
    padding: 10px 30px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#contact:hover{
    background-color: rgba(0,136,169,0.5);
}

.hamburger {
    position:absolute;
    z-index: 100;
    top: 50px;
    left: 225px;
    padding: 10px;
    border: black solid 1px;
    background: rgb(34, 30, 38);
    cursor: pointer;
    border-radius:20%;
}

.closeIcon {
    display: none;
}

p{
    font-size: 50px;
}


/* Image Slider */
.container h1{
    font-size:35px;
    font-family: "Sofia";
    text-align: center;
    color: #f5d0fd;
}

.container h1 .material-symbols-outlined{
    font-size: 39px;
    color: #8f509e;
}

.slider-wrapper{
    position:relative;
    max-width:70rem;
    margin:0 auto;
}

.slider{
    display:flex;
    aspect-ratio: 16/9;
    overflow-x:hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 2.7rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit:cover;
}

.slider-nav{
    display:flex;
    column-gap:1rem;
    position:absolute;
    bottom:1.25rem;
    left:50%;
    transform:translateX(-50%);
    z-index:1;
}

.slider-nav a{
    width: 1rem;
    height: 1rem;
    border-radius:50%;
    background-color: #fff;
    opacity: 0.6;
    transition:opacity ease 250ms;
}

.slider-nav a:hover{
    opacity:1;
}

/*scroll reveal Intro*/
.scroll-reveal h2{
    margin-top: 190px;
    font-size:4.3rem;
    line-height: 1;
    text-align: center;
    font-family: 'Emilys Candy', serif;
}

.scroll-reveal p{
    margin-top: 30px;
    font-size: 1.9rem;
    line-height:1.3;
    max-width: 50em;
    margin-inline: auto;
    text-align: center;
    font-family: 'Lemon', serif;
}

.scroll-reveal span {
    color: hsla(309, 84%, 87%, 0.3);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg,rgb(64, 174, 188),rgb(208, 206, 142));
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
}

.scroll-reveal h2 span{
  animation-range-start:cover 30vh;
  animation-range-end:cover 60vh;
}

.scroll-reveal p span{
  animation-range-start:cover 48.7vh;
  animation-range-end:cover 80vh;
}

@keyframes scroll-reveal{
    to{
      background-size: 100% 100%;
    }
}

/*call to action*/

#buyNow{
    margin-top: 12px;
    margin-left:17.5%;
    padding: 7px 15px;
    background-color: rgba(85, 135, 97, 0.7);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #83ff8d;
    font-family: 'Noticia Text', serif;
    transition: 1s;
}

#buyNow span{
    background-color: rgba(85, 135, 97, 0.6);
}

#buyNow:hover{
    color: #fff6dd;
    border-radius: 20px;
}

/*bestsellers flexbox & grid*/

#bestsellers-header{
    margin-top: 210px;
    font-size:35px;
    font-family: "Sofia";
    text-align: center;
    color: #f5d0fd;
}

h2 .material-symbols-outlined{
    font-size: 39px;
    color: #8f509e; 
}

#fudge {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items vertically */
    margin-bottom:1.5rem;
}

#best-1-parent{
    overflow: hidden;
    position: relative;
    width: 50rem;
    height: 50rem;
    margin-right: 40px;
}

#best-1 {
    width: 100%;
    max-width: 100%; 
    margin-right: 10px;
    margin-left: 10rem;
    transition: transform 0.3s ease-in-out;
}

#best-1:hover {
    cursor: pointer;
    transform: scale(1.2); /* Zoom in on hover */
}

#text-1 h3{
    font-family: 'Amita', serif ;
    font-size: 45px;
    color:#d3fcc8;
}
#text-1 p{
    font-family: 'Texturina', serif;
    font-size: 20px;
    color: #e8d5c5;
}

#bestsellers{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2;
}

#bestsellers img{
    max-width: 100%;
}


#bestsellers h3{
    color:#d3fcc8;
    font-family: 'Amita', serif;
}

#bestsellers img {  /*same size*/
    height: 35rem; /* Set desired height */
    width: 29rem;  /* Set desired width */
    object-fit: cover; /* ensures that the image maintains its aspect ratio while covering the specified dimensions */
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity:1;
    filter: blur(0);
    transform: translateX(0);
}

#drops{
    transition-delay:200ms;
}

#whisper{
    transition-delay: 500ms;
}

#buttons{
    transition-delay: 900ms;
}

/*call to action 2*/

.cta-container .btn{
    top:25px;
    margin-left: 43%;
    margin-bottom: 25px;
    padding: 12px 20px;
    min-width: 180px;
    cursor: pointer;
    background:none;
    border: 2px solid #40dbc7;
    font-family: 'Arial', serif;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.cta-container .btn span{
    position: relative;
    z-index: 1;
    background: none;
}

.cta-container .btn::before{
    content:'';
    position: absolute;
    top:var(--y);
    left:var(--x);
    transform: translate(-50%,-50%) ;
    width:0.5rem;
    height:0.5rem;
    border-radius: 50%;
    background: #ffd99f;
    transition: width 0.5s, height 0.5s;
}

.cta-container .btn:hover::before{
    width:180px;
    height: 220px;
}

.cta-container .btn:hover{
    color: #8026b0;
    font-style: oblique;
    font-weight: 700;
}

/* footer */
.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer-col li{
    font-family: "Sofia";
}

.footer{
    margin-top: 18rem;
    line-height: 1.5;
}

.footer-col{
    width: 33%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 36px;
    font-weight: 500;
    font-family: "Amita";
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom:-10px;
    background-color: #e91e63;
    height:2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li{
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform:capitalize;
    color:rgba(180,229,235,0.5);
    font-weight:300;
    display:block;
    transition:all 0.3s ease;
}

.footer-col ul li a:hover{
    padding-left: 8px;
    color: rgba(180, 229, 235,1);
}

.footer-col .social-media a{
    display:inline-block;
    height: 40px;
    width:40px;
    background-color: rgba(255,255,255,0.2);
    margin-right:10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-media a:hover{
    color:#24262b;
    background-color: #ffffff;
}

.footer-col .social-media a .fab {
    background-color: transparent;
}