@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color: var(--dark-purple);
}

html,body {
    width: 100%;
    overscroll-behavior: none;
    min-height: 100%;
}

body{
    overflow-x:hidden;
}

.hide-on-scroll{ 
    font-size: 14rem; 
    font-family: 'Lemon';
    position: fixed;
    left: 54%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 0;
    color: white;
    text-shadow: 7px 7px 7px rgba(169, 119, 255, 0.7); 
    background:none;
}

.hide{
    display: none;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    margin: 0 auto;
}

.img {
    width: 100%;
    height: 700px;
    position: relative;
    background-size: cover;
    z-index:1;

    &:nth-of-type(1) {background-image: url('../assets/candy-1.jpg');}
    &:nth-of-type(2) {background-image: url('../assets/candy-2.jpg');}
    &:nth-of-type(3) {background-image: url('../assets/candy-3.jpg');}
    &:nth-of-type(4) {background-image: url('../assets/candy-4.jpg');}
    &:nth-of-type(5) {background-image: url('../assets/candy-5.jpg');}
    &:nth-of-type(6) {background-image: url('../assets/candy-6.jpg');}
    &:nth-of-type(7) {background-image: url('../assets/candy-7.jpg');}
    &:nth-of-type(8) {background-image: url('../assets/candy-8.jpg');}
    &:nth-of-type(9) {background-image: url('../assets/candy-9.jpg');}


    &::before {
        content: '';
        position: absolute;
        height: 100vh;
        width: 100%;
        z-index: 4;
        top: 0;
        left: 0;
        border-right: 1px solid rgb(255, 255, 255);
    }
}

.line {
    border-right: 1px solid rgb(255, 255, 255);
}

/*scroll reveal Intro*/
.scroll-reveal {
    margin-top: 30rem;
    display: flex;
    flex-direction: column;
    height:80vh;
}

.scroll-reveal h2{
    font-size:4.3rem;
    line-height: 1;
    text-align: center;
    font-family: 'Emilys Candy', serif;
}

.scroll-reveal p{
    margin-top: 30px;
    font-size: 1.9rem;
    line-height:1.3;
    max-width: 50em;
    margin-inline: auto;
    text-align: center;
    font-family: 'Lemon', serif;
}

.scroll-reveal span {
    color: hsla(309, 84%, 87%, 0.35);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg,var(--sweet-blue),var(--cornfield-yellow));
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
}

.scroll-reveal h2 span{
  animation-range-start:cover 30vh;
  animation-range-end:cover 60vh;
}

.scroll-reveal p span{
  animation-range-start:cover 49.3vh;
  animation-range-end:cover 80vh;
}

@keyframes scroll-reveal{
    to{
      background-size: 100% 100%;
    }
}

/*call to action*/

#buyNow{
    margin-top: 50rem;
    margin-left:45.5%;
    padding: 9px 20px;
    background-image: linear-gradient(rgb(245, 63, 50),rgb(254, 157, 83));
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #beffb8;
    font-family: 'Noticia Text', serif;
    transition: all ease 0.5s;
    font-size: 19px;
    text-transform:uppercase;
}

#buyNow span{
    background:transparent;
    font-size: 23px;
    margin-right: 5px;
}

#buyNow:hover{
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background-image: linear-gradient(rgb(198, 216, 255),rgb(219, 196, 255));
}

/*bestsellers flexbox & grid*/

#bestsellers-header{
    margin-top: 10px;
    font-size:35px;
    font-family: "Sofia";
    text-align: center;
    color: var(--light-pink);
}

h2 .material-symbols-outlined{
    font-size: 39px;
    color: #8f509e; 
}

#fudge {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items vertically */
    margin-bottom:1.5rem;
}

#best-1-parent{
    overflow: hidden;
    position: relative;
    margin-left: 10rem;
    max-height: 46rem;
    max-width: 35rem;
    margin-right: 40px;
}

#best-1 {
    width: 35rem;
    height:46rem;
    margin-right: 10px;
    left: 10rem;
    transition: transform 0.3s ease-in-out;
}

#best-1:hover {
    cursor: pointer;
    transform: scale(1.2); /* Zoom in on hover */
}

#text-1 h3{
    font-family: 'Amita', serif ;
    font-size: 45px;
    color:#d3fcc8;
}

#text-1 p{
    font-family: 'Texturina', serif;
    font-size: 20px;
    color: var(--zesty-orange);
}

#bestsellers{
    margin-left: 3.5rem;
    margin-top: 3rem;
    display: grid;
    gap: 1.7rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2;
}

#bestsellers img{
    max-width: 100%;
}

#bestsellers h3{
    color:#d3fcc8;
    font-family: 'Amita', serif;
}

#bestsellers img {  /*same size*/
    height: 35rem; /* Set desired height */
    width: 30rem;  /* Set desired width */
    object-fit: cover; /* ensures that the image maintains its aspect ratio while covering the specified dimensions */
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity:1;
    filter: blur(0);
    transform: translateX(0);
}

#drops{
    transition-delay:200ms;
}

#whisper{
    transition-delay: 500ms;
}

#buttons{
    transition-delay: 900ms;
}

.card{
    height: 560px;
    max-width: 480px;
    overflow:hidden;
}

.intro{
    height:72px;
    max-width: 480px;
    padding-left: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom:0px;
    background: rgb(27,27,27, .75);
    color: var(--pale-pink);
    text-align: center;
    transition: all ease 0.4s;
}

.card .intro h3{
    margin:10px;
    font-size: 30px;
    background: transparent;
}

.intro p{
    font-size: 20px;
    margin:5px;
    visibility: hidden;
    opacity: 0;
    background: transparent;
}

.intro span{
    font-weight: bolder;
    background: transparent;
}

.card:hover{
    cursor: pointer;
}

.card:hover .intro{
    height:180px;
    bottom: 0rem;
    background: rgba(31, 9, 9, 0.85);
}

.card:hover p{
    opacity: 1;
    visibility: visible;
}

/*call to action 2*/

.cta-container .btn{
    top:40px;
    margin-left: 43%;
    margin-bottom: 25px;
    padding: 12px 20px;
    min-width: 180px;
    cursor: pointer;
    background:none;
    border: 2px solid #40dbc7;
    font-family: 'Arial', serif;
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    color: var(--sweet-blue);
    text-decoration: none;
    font-size: 18px;
    font-weight: 530;
}

.cta-container .btn span{
    position: relative;
    z-index: 1;
    background: none;
}

.cta-container .btn::before{
    content:'';
    position: absolute;
    top:var(--y);
    left:var(--x);
    transform: translate(-50%,-50%) ;
    width:0.9rem;
    height:0.9rem;
    border-radius: 50%;
    background: #fbefcf;
    transition: width 0.5s, height 0.5s;
}

.cta-container .btn:hover::before{
    width:180px;
    height: 220px;
}

.cta-container .btn:hover{
    color: var(--hollow-purple);
    font-style: oblique;
    font-weight: 700;
}

/* text animation etc */
.customers-words{
    margin-top: 60vh;
    color:white;
    text-align: center;
}

.customers-words #customers-words-title{
    font-size:4rem;
}

.customers-words h1 span{
    font-size:1.3rem;
}

.text-animation-line{
    background:transparent;
}

.text-animation2{
    margin-top:12rem;
    overflow:hidden;
    background:transparent;
    width:58rem;
    margin-left:26rem;
}

.text-animation-line3{
    margin-top:16rem;
    color: rgb(218, 251, 253);
    font-size: 2rem;
}

.text-animation-line2{
    text-transform: capitalize;
    font-size: 5rem;
    text-align: center;
    color:rgb(198, 158, 205);
    font-family: "Trade Winds";
}

.about, .bottom-about{
    width:100%;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: row;
}

.about-left, .bottom-about-right{
    width:55%;
    height:50vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.about-left h3, .bottom-about-right h3{
    font-size: 47px;
    color:white;
    letter-spacing: 5px;
    line-height: 1.6;
    -webkit-text-stroke: 2px rgb(220, 253, 255);
}

.about-left h3{
    text-align: right;
}

.bottom-about-right h3{
    text-align: left;
}

.about-left p, .bottom-about-right p{
    line-height: 1.6;
    color:white;
    font-size: 19px;
    text-align: center;
}

.about-right, .bottom-about-left{
    width:45%;
    height:50vh;
}

.about-right img,.bottom-about-left img{
    width:70%;
    border-radius:50%;
}