* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color: rgb(34, 30, 38);
}

#logo{
    height:70px;
    border-radius: 50%;
}

li, a, button{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #d0f2f0;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#nav__links{
    list-style: none;
}

#nav__links li{
    display: inline-block;
    padding: 0px 30px;
}

#nav__links li a{
    transition: color 0.3s ease 0s;
}

#nav__links li a:hover{
    color: #e7a2f7;
    font-weight: 200;
    font-style: italic;
}

#contact{
    padding: 10px 30px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#contact:hover{
    background-color: rgba(0,136,169,0.6);
}